<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Kdev\CustomSku\Api\Data\CustomSkuChangeInterface" type="Kdev\CustomSku\Model\CustomSkuChange" />
    <preference for="Kdev\CustomSku\Api\CustomSkuChangeRepositoryInterface" type="Kdev\CustomSku\Model\CustomSkuChangeRepository" />
</config>
